services:
  db:
    container_name: db
    image: postgres:18
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypassword
    volumes:
      # For Postgres 18+, mount at /var/lib/postgresql so data is stored in
      # versioned subdirectories compatible with pg_ctlcluster/pg_upgrade.
      - postgres18_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  backend:
    container_name: backend
    build: .
    environment:
      DB_HOST: db
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - weaviate

  mcp_slack:
    container_name: slack_mcp
    build:
      context: mcp/slack_mcp/.
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "3030:3030"
  
  mcp_semantic_search:
    container_name: semantic_search_mcp
    build:
      context: mcp/semantic_search_mcp/.
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "6060:6060"
    depends_on:
      - weaviate
  
  weaviate:
    command:
    - --host
    - 0.0.0.0
    - --port
    - '8080'
    - --scheme
    - http
    image: cr.weaviate.io/semitechnologies/weaviate:1.34.4
    ports:
    - 8080:8080
    - 50051:50051
    volumes:
    - weaviate_data:/var/lib/weaviate
    restart: on-failure:0
    environment:
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      ENABLE_MODULES: 'text2vec-ollama,generative-ollama'
      CLUSTER_HOSTNAME: 'node1'
      OLLAMA_API_ENDPOINT: 'http://ollama:11434'
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama:0.12.9
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  postgres18_data:
  weaviate_data:
  ollama_data:
